@import "../../styles/shared.scss";

.root {
  position: relative;
  min-height: 100vh;

  .img {
    position: absolute;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    user-select: none;

    opacity: 0;
    transform: scale(1.35);
  }

  .navbarGradient {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 300px;
    background: linear-gradient(180deg, hsla(0, 0%, 10%, 0.85), hsla(0, 0%, 35%, 0));
  }

  .text {
    position: absolute;
    z-index: 1;
    right: 25px;
    bottom: 20vh;

    @include media-tabletSm {
      bottom: 18vh;
      right: 50px;
    }

    @include media-desktopSm {
      bottom: 16vh;
      right: 75px;
    }

    .title {
      font-size: 3rem;

      opacity: 0;
      transform: translateY(30%);

      @include media-tabletSm {
        font-size: 3.5rem;
      }

      @include media-desktopSm {
        font-size: 4rem;
      }
    }

    .content {
      font-size: 1.5rem;
      margin: 10px 0 0;

      opacity: 0;
      transform: translateY(30%);

      @include media-tabletSm {
        font-size: 1.6rem;
      }

      @include media-desktopSm {
        font-size: 1.7rem;
      }
    }
  }

  .bottom {
    position: absolute;
    z-index: 0;

    left: 0;
    bottom: 0;
    width: 100vw;
    height: 50vh;

    .gradient {
      position: relative;
      height: 110%;
      background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #000 calc(100% - 2.5rem));

      .scrollDown {
        position: absolute;

        left: 50%;
        bottom: 15%;
        transform: translateX(-50%);

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;

        opacity: 0;

        .icon {
          width: 18px;
          height: 18px;
          color: $white;
          opacity: 0.8;
        }
      }
    }
  }
}
