@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "vars";
@import "mixins";

:root {
  --white: #fff;
  --gray: #848489;
  --black: #000;
  --red: #f16262;
  --dark-red: #f05959;
  --blue: #6cbaff;
  --dark-blue: #4ea2ec;

  --brazil-color-1: rgb(0, 156, 59);
  --brazil-color-2: rgb(255, 223, 0);
  --brazil-color-3: rgb(0, 39, 118);
  --brazil-gradient: linear-gradient(var(--brazil-color-1), var(--brazil-color-2));

  --italy-color-1: rgb(0, 123, 255);
  --italy-color-2: white;
  --italy-gradient: linear-gradient(var(--italy-color-1), var(--italy-color-2));

  --germany-color-1: rgb(222, 0, 0);
  --germany-color-2: rgb(254, 206, 0);
  --germany-color-3: black;
  --germany-gradient: linear-gradient(var(--germany-color-1), var(--germany-color-2));

  --argentina-color-1: rgb(116, 172, 223);
  --argentina-color-2: white;
  --argentina-gradient: linear-gradient(var(--argentina-color-1), var(--argentina-color-2));

  --uruguay-color-1: rgb(0, 55, 168);
  --uruguay-color-2: white;
  --uruguay-gradient: linear-gradient(var(--uruguay-color-1), var(--uruguay-color-2));

  --france-color-1: rgb(0, 36, 150);
  --france-color-2: rgb(238, 41, 58);
  --france-color-3: white;
  --france-gradient: linear-gradient(
    var(--france-color-1),
    var(--france-color-2),
    var(--france-color-3) 90%
  );

  --england-color-1: white;
  --england-color-2: rgb(206, 16, 37);
  --england-gradient: linear-gradient(var(--england-color-1) 35%, var(--england-color-2));

  --spain-color-1: rgb(198, 11, 31);
  --spain-color-2: rgb(254, 196, 0);
  --spain-gradient: linear-gradient(var(--spain-color-1), var(--spain-color-2));
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

body {
  font-family: "Encode Sans", sans-serif;
  font-weight: 300;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--black);
  color: var(--white);
  word-break: keep-all;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

svg {
  display: block;
  fill: currentColor;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
dl,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  display: inline-block;
  border: none;
  color: currentColor;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: transparent;
  font-size: inherit;
  text-align: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
}

img {
  display: block;
  max-width: 100%;
}
