@mixin media-tabletSm {
  @media (min-width: #{$breakpoint-tabletSm}) {
    @content;
  }
}

@mixin media-tabletLg {
  @media (min-width: #{$breakpoint-tabletLg}) {
    @content;
  }
}

@mixin media-desktopSm {
  @media (min-width: #{$breakpoint-desktopSm}) {
    @content;
  }
}

@mixin media-desktopMd {
  @media (min-width: #{$breakpoint-desktopMd}) {
    @content;
  }
}

@mixin topBottomPadding {
  padding-top: 5rem;
  padding-bottom: 5rem;

  @include media-tabletLg {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }

  @include media-desktopSm {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  @include media-desktopMd {
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;
  }
}

@mixin topBottomMargin {
  margin-top: 5rem;
  margin-bottom: 5rem;

  @include media-tabletLg {
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
  }

  @include media-desktopSm {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  @include media-desktopMd {
    margin-top: 12.5rem;
    margin-bottom: 12.5rem;
  }
}

@mixin leftRightPadding {
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  @include media-tabletSm {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  @include media-tabletLg {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @include media-desktopSm {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  @include media-desktopMd {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@mixin leftRightMargin {
  margin-left: 2.5rem;
  margin-right: 2.5rem;

  @include media-tabletSm {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }

  @include media-tabletLg {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  @include media-desktopSm {
    margin-left: 7rem;
    margin-right: 7rem;
  }

  @include media-desktopMd {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}
