$white: #fff;
$gray: #848489;
$black: #000;
$red: #f16262;
$dark-red: #f05959;
$blue: #6cbaff;
$dark-blue: #4ea2ec;

$breakpoint-tabletSm: 550px;
$breakpoint-tabletLg: 750px;
$breakpoint-desktopSm: 900px;
$breakpoint-desktopMd: 1420px;

// $red: rgb(255, 108, 108);

$sidebar-entry: cubic-bezier(0.3, 0, 0, 1);
$sidebar-exit: cubic-bezier(0.85, 0, 0.85, 0.85);
$ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
