$white: #fff;
$gray: #848489;
$black: #000;
$red: rgb(255, 108, 108);
$blue: rgb(108, 186, 255);
$dark-red: rgb(222, 97, 97);

$breakpoint-tablet: 500px;
$breakpoint-desktopSm: 900px;
$breakpoint-desktopMd: 1420px;
