@import "../../styles/shared.scss";

.root {
  user-select: none;

  &:hover {
    .route {
      color: var(--white);
    }

    .underline {
      transform: scaleX(1);
    }
  }

  .route {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;

    cursor: pointer;
    color: var(--red);
    transition: 0.2s color;

    @include media-tabletSm {
      font-size: 1.6rem;
    }

    @include media-desktopSm {
      font-size: 1.7rem;
    }
  }

  .underline {
    width: 100%;
    height: 1px;
    margin: 2px 0 0;
    background: var(--white);

    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: 0.25s transform, 0.25s transform-origin;
  }
}

.active {
  .route {
    color: var(--white);
  }

  .underline {
    transform: scaleX(1);
  }
}

.white {
  &.active,
  &:hover {
    .route {
      color: rgb(var(--black), 1);
    }

    .underline {
      background: rgb(var(--black), 1);
    }
  }

  .route {
    color: var(--dark-blue);
  }

  .underline {
    background: var(--dark-blue);
  }
}

.blue {
  &.active,
  &:hover {
    .route {
      color: var(--white);
    }

    .underline {
      background: var(--white);
    }
  }

  .route {
    color: var(--black);
  }

  .underline {
    background: var(--black);
  }
}

.red {
  &.active,
  &:hover {
    .route {
      color: var(--white);
    }

    .underline {
      background: var(--white);
    }
  }

  .route {
    color: var(--black);
  }

  .underline {
    background: var(--black);
  }
}
