@import "../../styles/shared.scss";

.root {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;

  transform: translateY(-100%);
  transition: 0.7s background;

  &.navbarBg {
    background: rgb(var(--black), 0.8);

    @include media-desktopSm {
      background: rgb(var(--black), 0);
    }
  }

  .navbar {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;

    @include media-tabletSm {
      padding: 1.5rem 3rem;
    }

    @include media-tabletLg {
      padding: 1.5rem 5rem;
    }

    @include media-desktopSm {
      padding: 1.8rem 5.5rem;
    }

    @include media-desktopMd {
      padding: 2rem 8rem;
    }

    .gradient {
      position: absolute;

      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 167px;

      content: "";
      pointer-events: none;

      opacity: 0;
      transition: transform 0.4s ease-in-out, opacity 0.4s linear;
      background: linear-gradient(180deg, #000 calc(100% - 2.5rem), hsla(0, 0%, 100%, 0));
      display: none;

      @include media-desktopSm {
        display: block;
      }

      &.activeGradient {
        opacity: 0.85;
      }

      &.hideGradient {
        @include media-tabletLg {
          transform: translate(0px, -52px);
        }
      }
    }

    .left {
      opacity: 0;

      .logo {
        display: flex;
        align-items: center;
        font-size: 1.7rem;

        cursor: pointer;
        user-select: none;
        text-transform: uppercase;

        .text {
          display: flex;
          flex-direction: column;
          background: var(--red);
          border-radius: 50%;
          padding: 7px;
          color: var(--black);
          transition: 0.2s background;
        }

        .football {
          width: 40px;
          height: 40px;
          color: var(--red);
          transition: 0.2s color;

          @include media-tabletSm {
            width: 44px;
            height: 44px;
          }
        }

        @include media-tabletSm {
          font-size: 1.9rem;
        }

        &:hover {
          .text {
            background: rgb(var(--red), 0.7);
          }

          .football {
            color: rgb(var(--red), 0.7);
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;

      .routes {
        display: none;
        gap: 20px;

        @include media-tabletSm {
          display: flex;
        }

        @include media-desktopSm {
          gap: 30px;
        }

        .route {
          color: var(--red);
          font-size: 1.3rem;
          cursor: pointer;
          transition: 0.2s color;
          text-transform: uppercase;

          opacity: 0;

          @include media-desktopSm {
            font-size: 1.5rem;
          }

          &:hover {
            color: var(--white);
          }
        }
      }

      .search {
        display: none;
        align-items: center;
        gap: 5px;
        color: var(--red);
        margin: 0 0 0 25px;

        &:hover {
          color: var(--white);

          .input {
            color: var(--white);
            border: 1px solid var(--white);

            &::placeholder {
              color: rgb(var(--white), 0.75);
            }
          }
        }

        @include media-tabletSm {
          display: flex;
          cursor: pointer;
        }

        @include media-tabletLg {
          margin: 0 0 0 35px;
        }

        @include media-desktopSm {
          margin: 0 0 0 65px;

          cursor: unset;
        }

        .input {
          display: none;
          padding: 5px 7px;
          border-radius: 10px;
          background: transparent;
          border: 1px solid var(--red);
          outline: none;
          color: var(--red);

          opacity: 0;
          transition: 0.2s color, 0.2s border;

          &::placeholder {
            color: rgb(var(--dark-red), 1);
            transition: 0.2s color;
          }

          @include media-tabletLg {
            display: flex;
          }
        }

        .icon {
          width: 20px;
          height: 20px;
          transition: 0.2s color;

          opacity: 0;
        }
      }

      .mobileMenu {
        display: flex;
        z-index: 10;
        cursor: pointer;

        opacity: 0;

        @include media-tabletSm {
          display: none;
        }

        .icon {
          color: var(--red);
          width: 20px;
          height: 20px;
          transition: 0.2s color;
        }

        &:hover {
          .icon {
            color: white;
          }
        }
      }
    }

    .borderBottom {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100vw;

      background: rgb(197, 197, 197, 0.4);
      transition: 0.5s opacity;

      &.hideBorder {
        @include media-desktopSm {
          opacity: 0;
        }
      }
    }
  }

  .subnav {
    display: none;
    align-items: center;
    padding: 5px 55px;
    transform-origin: 0 0;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;

    @include media-desktopSm {
      display: flex;
    }

    @include media-desktopMd {
      padding: 5px 80px;
    }

    &.hideSubnav {
      transform: translate(0, -15px) scaleY(0.7);
      opacity: 0;
    }

    .sections {
      display: flex;
      font-size: 1.2rem;
      padding: 1rem 0;

      gap: 2.5rem;

      .label {
        font-weight: 400;
      }

      .section {
        color: var(--red);
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.2s color;

        &:hover {
          color: var(--white);
        }
      }
    }
  }
}

.whiteTheme {
  &.navbarBg {
    background: transparent;

    .navbar {
      background: rgb(var(--white), 0.95);
    }
  }

  .navbar {
    .gradient {
      background: linear-gradient(180deg, var(--white) calc(100% - 2.5rem), hsla(0, 0%, 100%, 0));

      &.activeGradient {
        opacity: 0.95;
      }
    }

    .left {
      .logo {
        .text {
          background: var(--dark-blue);
          color: var(--white);
        }

        .football {
          color: var(--dark-blue);
        }

        &:hover {
          .text {
            background: var(--black);
          }

          .football {
            color: var(--black);
          }
        }
      }
    }

    .right {
      .routes {
        .route {
          color: var(--dark-blue);
        }
      }

      .search {
        color: var(--dark-blue);

        &:hover {
          color: var(--black);

          .input {
            color: var(--black);
            border: 1px solid var(--black);

            &::placeholder {
              color: rgb(var(--black), 0.75);
            }
          }
        }

        .input {
          border: 1px solid var(--dark-blue);
          color: var(--dark-blue);

          &::placeholder {
            color: rgb(var(--dark-blue), 0.7);
          }
        }
      }

      .mobileMenu {
        &:hover {
          .icon {
            color: var(--black);
          }
        }

        .icon {
          color: var(--dark-blue);
        }
      }
    }

    .borderBottom {
      background: rgb(var(--dark-blue), 0.2);
    }
  }

  .subnav {
    .label {
      color: var(--gray);
    }
    .sections {
      .section {
        color: var(--dark-blue);

        &:hover {
          color: var(--black);
        }
      }
    }
  }
}

.redTheme {
  &.navbarBg {
    background: transparent;

    .navbar {
      background: rgb(var(--dark-red), 0.95);
    }
  }

  .navbar {
    .gradient {
      background: linear-gradient(
        180deg,
        var(--dark-red) calc(100% - 2.5rem),
        hsla(0, 0%, 100%, 0)
      );
    }

    .left {
      .logo {
        .text {
          background: var(--black);
          color: var(--dark-red);
        }

        .football {
          color: var(--black);
        }

        &:hover {
          .text {
            background: var(--white);
          }

          .football {
            color: var(--white);
          }
        }
      }
    }

    .right {
      .routes {
        .route {
          color: var(--black);
        }
      }

      .search {
        color: var(--black);

        &:hover {
          color: var(--white);

          .input {
            color: var(--white);
            border: 1px solid var(--white);

            &::placeholder {
              color: rgb(var(--white), 0.75);
            }
          }
        }

        .input {
          border: 1px solid var(--black);
          color: var(--black);

          &::placeholder {
            color: rgb(var(--black), 0.7);
          }
        }
      }

      .mobileMenu {
        .icon {
          color: var(--black);
        }
      }
    }

    .borderBottom {
      background: rgb(var(--black), 0.2);
    }
  }

  .subnav {
    .sections {
      .section {
        color: var(--black);

        &:hover {
          color: var(--white);
        }
      }
    }
  }
}

.blueTheme {
  &.navbarBg {
    background: transparent;

    .navbar {
      background: rgb(var(--dark-blue), 0.9);
    }
  }

  .navbar {
    .gradient {
      background: linear-gradient(
        180deg,
        var(--dark-blue) calc(100% - 2.5rem),
        hsla(0, 0%, 100%, 0)
      );
    }

    .left {
      .logo {
        .text {
          background: var(--black);
          color: var(--dark-blue);
        }

        .football {
          color: var(--black);
        }

        &:hover {
          .text {
            background: var(--white);
          }

          .football {
            color: var(--white);
          }
        }
      }
    }

    .right {
      .routes {
        .route {
          color: var(--black);
        }
      }

      .search {
        color: var(--black);

        &:hover {
          color: var(--white);

          .input {
            color: var(--white);
            border: 1px solid var(--white);

            &::placeholder {
              color: rgb(var(--white), 0.75);
            }
          }
        }

        .input {
          border: 1px solid var(--black);
          color: var(--black);

          &::placeholder {
            color: rgb(var(--black), 0.7);
          }
        }
      }

      .mobileMenu {
        .icon {
          color: var(--black);
        }
      }
    }

    .borderBottom {
      background: rgb(var(--black), 0.2);
    }
  }

  .subnav {
    .sections {
      .section {
        color: var(--black);

        &:hover {
          color: var(--white);
        }
      }
    }
  }
}
