@import "../../styles/shared.scss";

.root {
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  .about {
    @include topBottomPadding;
    @include leftRightPadding;

    .firstWrapper,
    .secondWrapper,
    .thirdWrapper {
      @include media-tabletLg {
        display: flex;
        gap: 5rem;
      }

      @include media-desktopSm {
        gap: 7.5rem;
      }

      @include media-desktopMd {
        gap: 10rem;
      }

      .textHeading {
        @include media-tabletLg {
          flex: 1;
        }
      }

      > .img {
        max-height: 52rem;
        aspect-ratio: 1/1;
        margin: 5rem auto 0;

        @include media-tabletSm {
          aspect-ratio: 4/3;
        }

        @include media-tabletLg {
          aspect-ratio: 1/1;
          margin: 0;
          flex: 1;
        }
      }
    }

    .secondWrapper,
    .thirdWrapper {
      @include topBottomMargin;
    }

    .secondWrapper {
      @include media-tabletLg {
        flex-direction: row-reverse;
      }
    }

    .forthWrapper {
      @include topBottomMargin;

      .title {
        font-size: 2.6rem;

        @include media-tabletSm {
          font-size: 3.2rem;
        }

        @include media-desktopSm {
          font-size: 4rem;
        }
      }

      .topics {
        display: grid;
        margin: 5rem 0 0;
        gap: 2.5rem;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));

        @include media-tabletSm {
          gap: 3.5rem;
          margin: 7rem 0 0;
        }

        @include media-tabletLg {
          margin: 10rem 0 0;
        }

        @include media-desktopSm {
          grid-template-columns: repeat(3, 1fr);
          gap: 5.5rem;
        }

        @include media-desktopMd {
          margin: 15rem 0 0;
          gap: 7rem;
        }
      }
    }
  }

  .statistics {
    width: 100vw;
    @include topBottomPadding;
    @include leftRightPadding;

    .title {
      color: var(--black);
      font-size: 2.6rem;

      @include media-tabletSm {
        font-size: 3.2rem;
      }

      @include media-desktopSm {
        font-size: 4rem;
      }
    }

    .grid {
      padding: 7.5rem 0;
    }

    .linkCards {
      padding: 7.5rem 0;
      display: grid;
      justify-content: center;

      gap: 5rem;

      @include media-tabletSm {
        gap: 7.5rem;
      }

      @include media-tabletLg {
        gap: 10rem;
      }

      @include media-desktopSm {
        gap: 12.5rem;
      }

      @include media-desktopMd {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 35px;
      }

      .linkCard {
        color: var(--black);
      }
    }
  }

  .footballHistory {
    width: 100vw;
    @include topBottomPadding;

    .title {
      color: var(--black);
      font-size: 2.6rem;

      opacity: 0;
      transform: translateY(2.5rem);

      @include media-tabletSm {
        font-size: 3.2rem;
      }

      @include media-desktopSm {
        font-size: 4rem;
      }
    }

    .carousels {
      margin: 150px 0 0;

      .carousel {
        margin: 100px 0 0;
      }
    }

    .grid {
      @include leftRightPadding;
    }
  }

  .worldCup {
    width: 100vw;
    @include topBottomPadding;
    @include leftRightPadding;

    .champions {
      display: grid;
      margin: 5rem 0 0;
      gap: 2.5rem;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));

      @include media-tabletSm {
        gap: 3.5rem;
        margin: 7rem 0 0;
      }

      @include media-tabletLg {
        margin: 10rem 0 0;
      }

      @include media-desktopSm {
        grid-template-columns: repeat(3, 1fr);
        gap: 5.5rem;
      }

      @include media-desktopMd {
        margin: 15rem 0 0;
        gap: 7rem;
      }

      .el {
        position: relative;

        .teamCard {
          position: relative;
          z-index: 1;

          background-color: var(--white);
          color: var(--black);
        }

        // .gradient {
        //   position: absolute;
        //   inset: 0;
        //   transition: 1s opacity;
        //   z-index: 0;
        // }
      }
    }

    .field {
      position: relative;
      margin: 10rem 0 0 auto;
      width: 420px;

      .img {
        aspect-ratio: 3/4;
        opacity: 0;
        transform: translateY(2.5rem);
      }

      .els {
        .el {
          position: absolute;
          transform: scale(0);

          .player {
            background: var(--white);
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            border: 2px solid grey;
            z-index: 2;
            padding: 0.25rem;
          }

          &:nth-child(1) {
            top: 5rem;
            left: 18rem;
          }

          &:nth-child(2) {
            top: 7rem;
            left: 8rem;
          }

          &:nth-child(3) {
            top: 7rem;
            left: 28rem;
          }

          &:nth-child(4) {
            top: 17rem;
            left: 8rem;
          }

          &:nth-child(5) {
            top: 19rem;
            left: 18rem;
          }

          &:nth-child(6) {
            top: 17rem;
            left: 28rem;
          }

          &:nth-child(7) {
            top: 28rem;
            left: 4rem;
          }

          &:nth-child(8) {
            top: 32rem;
            left: 13rem;
          }

          &:nth-child(9) {
            top: 32rem;
            left: 24rem;
          }

          &:nth-child(10) {
            top: 28rem;
            left: 33rem;
          }

          &:nth-child(11) {
            top: 42rem;
            left: 18rem;
          }

          &:nth-child(12) {
            top: 49rem;
            left: 1rem;
          }
        }
      }
    }
  }
}
