@import "../../styles/shared.scss";

.root {
  position: relative;
  min-height: 100vh;

  .about {
    width: 100vw;
    @include topBottomPadding;

    .firstWrapper,
    .secondWrapper,
    .thirdWrapper {
      @include leftRightPadding;

      @include media-tabletLg {
        display: flex;
        gap: 50px;
      }

      .textHeading {
        @include media-tabletLg {
          width: 50%;
        }
      }

      > .img {
        width: 100%;
        height: 100vw;
        margin: 50px auto 0;

        max-height: 450px;

        @include media-tabletLg {
          width: 50%;
          margin: 0;
          max-width: 400px;
        }

        @include media-desktopSm {
          max-width: 600px;
          max-height: 575px;
        }
      }
    }

    .secondWrapper,
    .thirdWrapper {
      @include topBottomMargin;
    }

    .secondWrapper {
      @include media-tabletLg {
        flex-direction: row-reverse;
      }
    }

    .forthWrapper {
      @include topBottomMargin;
      @include leftRightMargin;

      .title {
        font-size: 26px;
        font-weight: 700;

        @include media-tabletSm {
          font-size: 32px;
        }

        @include media-desktopSm {
          font-size: 40px;
        }
      }

      .topics {
        display: grid;
        margin: 50px 0 0;
        gap: 25px;

        @include media-tabletSm {
          grid-template-columns: repeat(2, 1fr);
          gap: 35px;
          margin: 70px 0 0;
        }

        @include media-tabletLg {
          gap: 50px;
          margin: 100px 0 0;

          grid-template-columns: repeat(3, 1fr);
        }

        @include media-desktopMd {
          margin: 150px 0 0;

          gap: 70px;
        }
      }
    }
  }

  .statistics {
    width: 100vw;
    @include topBottomPadding;

    .linkCards {
      @include leftRightPadding;
      display: grid;

      @include media-desktopMd {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 35px;
      }

      .linkCard {
        margin: 50px 0 0;

        @include media-tabletSm {
          margin: 75px 0 0;
        }

        @include media-tabletLg {
          margin: 100px 0 0;
        }

        @include media-desktopSm {
          margin: 125px 0 0;
        }
      }
    }

    .carousels {
      .carousel {
      }
    }
  }

  .footballHistory {
    width: 100vw;
    @include topBottomPadding;
    @include leftRightPadding;

    .textHeading {
      color: $black;
    }

    > .img {
      width: 90%;
      height: 100vw;
      margin: 50px 25px 0;

      max-width: 400px;
      max-height: 500px;

      @include media-desktopSm {
        width: 50%;
        margin: 0;
        height: 450px;
      }
    }
  }

  .squadBuilder {
    min-height: 100vh;
    width: 100vw;
  }
}
