@import "../../styles/shared.scss";

.root {
  &.animate {
    .title,
    .paragraph {
      opacity: 0;
      transform: translateY(30px);
    }
  }

  .title {
    font-size: 26px;

    @include media-tabletSm {
      font-size: 32px;
    }

    @include media-desktopSm {
      font-size: 38px;
    }
  }

  .paragraph {
    margin: 12px 0 0;
    font-size: 15px;

    @include media-tabletSm {
      font-size: 16px;
    }

    @include media-desktopSm {
      font-size: 17px;
    }
  }
}
